# Windows junk
desktop.ini
Thumbs.db

# Logs
logs/
*.log
.log
.htaccess
*.htaccess

# VS Code
.vscode/

# Node
node_modules/

# Environment files
.env

# Uploads
uploads/

# Therapist workspace
therapist-booking.code-workspace
# gitignore
.gitignore
